Repository railsstudent/ng-pomodoro-timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,css,scss,less,md,html,component.html}": ["prettier --write"],
  "*.{ts,js}": ["eslint --cache --fix --max-warnings 0", "prettier --write"]
}

chore: eslint-plugin-import
  package-lock.json
  package.json
Due: prettier --write

chore: eslint-plugin-import
  .eslintrc.json
Due: prettier --write

chore: upgrade dependencies
  package-lock.json
Due: prettier --write

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

chore: use github action to deploy
  .github/workflows/main.yml
  angular.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write, eslint --cache --fix --max-warnings 0

chore: upgrade angular-cli-ghpages
  package-lock.json
  package.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  index.html
  main-es2015.3d3cf0a3f1b2bfc61db3.js
  main-es5.3d3cf0a3f1b2bfc61db3.js
  main.cae2ede3efc09b8d.js
  polyfills-es2015.8cd0f44bb22bc284f610.js
  polyfills-es5.dc6ad1521a81ea597437.js
  polyfills.0a33ab40f21a731e.js
  runtime-es2015.c5fa8325f89fc516600b.js
  runtime-es5.c5fa8325f89fc516600b.js
  runtime.e82b062286c3566f.js
  styles.f3e333271b48232a.css
  styles.fe2970e384b2fb82f1f0.css
Due: prettier --write, eslint --cache --fix --max-warnings 0

chore: delete travis ci
  .travis.yml
Due: none

chore(deps): fix npm vulnerabilities
  package-lock.json
  package.json
Due: prettier --write
